@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family:'android'; /* aqui eu dou o nome que eu quiser para a fonte*/
    src: url(../fontes/idroid.otf) format('opentype'); /*aqui eu complement com o formato, como quem força o html a entender o formato da fonte la, q tem opentype e truetype*/
    font-weight: normal;
}


:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'android';


}

*{
    margin: 0px;
    padding: 0px;
}

body{
   
    background-color: #F0E2B8;
    font-family: var(--fonte-padrao);
    
}
img{
    width: 100%;
}
a.externo::after{
    content: '\1f517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px; /* tamanho do cabeçalho8*/
    text-align: center;
    padding-top: 40px;
}
header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px; /*usado pra afastar o h1 do cabeçalho do texto de baixo do cabeçalho, no caso o p*/
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.404);

}

header > p {
    color: white;
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    margin-bottom: 10px;
    padding-left: 10px; /* para quando diminuir a tela, nao fcar muito grudado as laterais do browser*/
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.404);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.434);
}
nav > a {
    color: var(--cor2);
    text-decoration: none;
    padding: 10px;
    font-weight: bolder; /*negrito apenas*/
}
nav > a:hover{
    background-color: var(--cor4);
    color: white;
    border-radius: 5px;
    transition-duration: 0.5s;
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.559);
    margin-bottom: 30px; /* margem de baixo do main, para nao grudar no footer*/
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;  /*para apenas arredondar as bordas de baixo, esquerda e direita de baixo*/
}
main h1 {
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-weight: normal;
    font-size: 1.8em;
    
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
}
main p {
    margin: 15px 0px; /* lembrando que a margem sao 4 lados, cima direita baixo esquerda, nesta ordem, porem da pra fazer em dupla como esse 15 px, que significa cima e baixo e 0px direita e esquerda */
    text-align: justify; /*pra organizar as palavras dos paragrafos*/
    text-indent: 30px; /*serve para abrir paragrafo*/
    font-size: 1em;
    line-height: 2em; /* serve para dar espaçamento entre as linhas dos paragrafos*/

} 
main strong {
    color: var(--cor4);
    font-weight: bolder;
    
}
main a{
    background-color: var(--cor0);
    border-radius: 4px;
    padding: 2px 6px;
    text-decoration: none;
}

main a:hover{
    color: var(--cor3);
    text-decoration: underline;
}
main img.pequena {
    max-width: 250px;
    display: block; /*uma imagem nao é um bloco, entao voce pra deixar ela centralizada, nao adianta apenas usar o margin: auto*/
    margin: auto;
}
div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
   
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.498);
}
aside > ul{
    list-style-position: inside;
    columns: 2;
}

aside strong {
    color: white;
}

aside h3{
    background-color: var(--cor4);
    padding: 5px;
    margin: -10px -10px 0px -10px;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}
footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
footer a:hover {
    text-decoration: underline;
    color: #3ddc84;
}